@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;500;700&display=swap');

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --overlay: hsla(0, 0%, 8%, 0.4);
}

html {
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
body {
  background-color: var(--almost-white);
}

a {
  text-decoration: none;
  color: var(--almost-black);
}

a:visited {
  color: var(--almost-black);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 1.5rem;
  /* border: 1px solid black; */
}

.navbar__logo {
  height: 20px;
}

.navbar__buttons {
  display: none;
}

.navbar__menu-button {
  cursor: pointer;
}

.navbar__menu-button > input {
  /* display: none; */
  opacity: 0;
  width: 0;
  height: 0;
}

.navbar__item-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  padding: 1.5rem;
  z-index: 1;
  background-color: var(--almost-white);
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.navbar__sub-item-list {
  /* transition: transform 0.3s ease, max-height 0.3s ease, position 0.3s ease; */
  /* transform-origin: top; */
  max-height: 100vh;
}

.navbar__sub-item-list--hide {
  transform: scaleY(0);
  max-height: 0;
  position: absolute;
}

.overlay {
  background-color: var(--overlay);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.3s ease-in;
}

.overlay--show {
  top: -100vh;
}

.navbar__close-menu,
.navbar__open-sub-menu {
  background-color: transparent;
  border: none;
}

.navbar__item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}
.navbar__item p {
  margin: 0;
}

.navbar__item--right {
  align-self: flex-end;
}

.navbar__item-with-button,
.navbar__open-sub-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar__item-with-button {
  gap: 0.5rem;
}

.navbar__open-sub-menu {
  pointer-events: none;
}

.navbar__sub-item {
  display: flex;
  gap: 0.5rem;
  margin: 1rem;
}

.navbar__sub-item:last-of-type {
  margin-bottom: 0.2rem;
}

.navbar__item:nth-child(n + 3) {
  margin-top: 0.3rem;
}

.navbar__open-sub-menu-img {
  pointer-events: none;
}

.navbar__item {
  cursor: pointer;
}
.navbar__item > span:hover {
  text-shadow: 0 0 1px black;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.btn:hover {
  text-shadow: 0px 0px 1px var(--almost-black);
  /* outline: 1px solid var(--almost-black); */
  /* border: 0.3px solid var(--almost-black); */
}

.btn--ghost {
  outline: 1px solid var(--almost-black);
}

.btn--ghost:hover {
  outline: 2px solid var(--almost-black);
}

/* Main Container */

.main-container {
  display: grid;
  text-align: center;
  padding-left: 1rem;
  gap: 0.51rem;
  padding-right: 1rem;
  grid-template-areas:
    'principalimg'
    'description'
    'logos';
}

.main-container__images {
  grid-area: logos;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-container__images > img {
  width: 15%;
}

.main-container__principal-image {
  grid-area: principalimg;
  background-image: url('../images/image-hero-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vh;
}

.main-container__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-container__descriptio-title {
  font-size: 2rem;
  font-weight: 700;
}

.btn--big {
  background-color: var(--almost-black);
  color: var(--almost-white);
  padding: 0.77rem 1.3rem 0.7rem 1.3rem;
  font-weight: 700;
}

.btn--big:visited {
  color: var(--almost-white);
}

.btn--big:hover {
  background-color: var(--almost-white);
  color: var(--almost-black);
  outline: 2px solid var(--almost-black);
}

.show-break {
  display: none;
}

@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    align-items: flex-end;
    height: auto;
  }

  .navbar__buttons {
    display: flex;
    gap: 0.8rem;
  }

  .navbar__links {
    flex: 1;
  }

  .overlay {
    background-color: transparent;
    height: auto;
    width: auto;
    position: relative;
  }

  .overlay--show {
    top: auto;
  }

  .navbar__close-menu {
    display: none;
  }

  .navbar__item-list {
    position: relative;
    /* right: 0; */
    /* width: auto; */
    height: auto;
    padding: initial;
    z-index: 1;
    background-color: transparent;
    flex-direction: row;
    font-size: 0.9em;
    gap: 1.5rem;
    align-items: baseline;
  }

  .navbar__item {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .navbar__sub-item-list {
    position: absolute;
    top: 2.5rem;
    left: 0;
    background-color: white;
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
    padding: 0 1rem 1rem 1rem;
    border-radius: 0.5rem;
    /* width: 9rem; */
    white-space: nowrap;
  }

  .navbar__sub-item-list--left {
    left: -100%;
  }

  .navbar__menu-button {
    display: none;
  }

  .navbar__open-sub-menu-img {
    max-width: initial;
  }

  /* Main container */

  .main-container {
    /* display: grid;
    text-align: center;
    padding-left: 1rem;
    gap: 0.51rem;
    padding-right: 1rem; */
    grid-template-areas:
      'description principalimg'
      'description principalimg'
      'logos principalimg';
    justify-content: center;
  }

  .main-container__images {
    /* margin-top: 5rem; */
    /* grid-area: logos;
    display: flex;
    align-items: center;
    justify-content: space-around; */
    flex-wrap: wrap;
  }

  .main-container__images > img {
    width: 100px;
    min-width: 80px;
  }

  .main-container__principal-image {
    /* grid-area: principalimg; */
    background-image: url('../images/image-hero-desktop.png');
    height: 80vh;
    width: 40vw;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40vh; */
  }

  .main-container__description {
    align-self: center;
    text-align: left;
    gap: 2.5rem;
    /* grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; */
    /* width: 50vw; */
  }

  .main-container__descriptio-title {
    font-size: 5vw;
  }

  .show-break {
    display: block;
  }

  .btn--big {
    margin-top: 3rem;
  }

  .main-container__description--text {
    /* font-size: 1.2vw; */
    font-size: 120%;
    max-width: 70%;
    line-height: 1.5;
  }
}
